.container {
	margin-left: 20px;
	margin-right: 20px;
}

.font{
	font-family: 'Roboto', Arial, sans-serif;
}

.padding{
	padding-bottom: 10px;
	padding-top: 10px;
}

@media screen and (max-width: 640px){
	.padding-left {
  padding-left: 10px;
}}